<!DOCTYPE html>
<html>

<head>
  <!--dependencies start -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

  <link href="dist/ez-progress-slider.min.css" rel="stylesheet"/>

  <link href="//rawgit.com/jdewit/ez-dropdown/master/dist/ez-dropdown.min.css" rel="stylesheet"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  <script src="//cdn.rawgit.com/taye/interact.js/master/interact.js"></script>
  <script src="//rawgit.com/jdewit/ez-dropdown/master/dist/ez-dropdown.min.js"></script>
  <!--dependencies end -->

  <script src="src/ez-progress-slider.js"></script>
  <script src="dist/ez-progress-slider-tpl.js"></script>

  <script>
    angular.module('myApp', ['ez.progressSlider', 'ez.dropdown'])

    .controller('AppCtrl', ['$scope', function AppCtrl($scope) {

        $scope.data = {
          progress1: 60,
          target1: 30,
          progress2: 20,
          progress3: 20,
          target3: 40,
          readonly: true
        };

        $scope.log = [];

        $scope.progressUpdated = function() {
        $scope.log.push('progress updated => ' + $scope.data.progress1 + ' / ' + $scope.data.target1);
        };
    }])
;

  </script>
</head>
<body ng-app="myApp">
  <div ng-controller="AppCtrl" class="container">
    <div class="page-header">
      <h1>ez-progress-slider</h1>
    </div>
    <div class="page-body">
      <form name="_form">
        <ez-progress-slider class="" ng-model="data.progress1" on-change="progressUpdated" target="data.target1" config="{draggableTarget: true}"></ez-progress-slider>
        <br>
        <label>Progress:</label>
        <input type="text" ng-model="data.progress1"/>

        <br>
        <label>Target:</label>
        <input type="text" ng-model="data.target1"/>

        <br>
        <label>Dirty?:</label>
        {{ _form.$dirty }}
      </form>

      <hr>
      <span class="dropdown" click-inside="true">
        <a href="#" class="dropdown-toggle">
          Slider inside dropdown without a target!
        </a>
        <div class="dropdown-menu dropdown-pointer pull-right" style="width: 200px; padding: 20px;">
          <div ez-progress-slider class="progress-bar-success" ng-model="data.progress2"></div>
        </div>
      </span>

      <hr>

      Read only progress slider
      <ez-progress-slider class="" ng-model="data.progress3" target="data.target3" ng-disabled="data.readonly"></ez-progress-slider>
      <a class="btn btn-default" ng-click="data.readonly = !data.readonly">Toggle Read Only</a>
      <hr>
      {{ log }}

    </div>
  </div>
</body>

</html>

