.ez-progress-slider {
  position: relative;
  overflow: visible;
  display: block;
  cursor: not-allowed;
  height: 34px;

  .progress {
    position: absolute;
    width: 100%;
    z-index: 1;
    margin: 0;
    top: 7px;
  }

  .progress-bar {
    border-radius: 4px;
    text-align: left;
    position: absolute;
    z-index: 2;
    top: 7px;
  }

  .progress-handle {
    top: -2.5px;
    left: 0;
    position: absolute;
    z-index: 3;
    background-color: #ddd;
    width:25px;
    height:25px;
    border-radius: 12.5px;
    border: 1px solid #ccc;
		-webkit-transition: left 0.6s ease;
		-moz-transition: left 0.6s ease;
		-o-transition: left 0.6s ease;
		transition: left 0.6s ease;
    top: 5px;
  }

  .progress-text {
    position: absolute;
    left: 5px;
    pointer-events: none;
    z-index: 4;
    top: 7px;
  }

  .target-handle {
    width: 6px;
    height: 34px;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &.draggable-progress {
    cursor: pointer;

    .progress-handle {
      cursor: move;
    }
  }

  &.draggable-target .target-handle {
    cursor: move;
  }

  &.ez-loaded {
    .progress-bar, .progress-handle {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
    }
  }

  &.behind-target {
    .progress-handle {
      border-color: #d9534f;
    }

    .progress-bar {
      background-color: #d9534f;
    }
  }

}
